{
    "presets": [
      ["env", {
        "targets": {
          "node": "current"
        }
      }],
      "react",
      "stage-1"
  ],
  "env": {
    "test": {
      "plugins": [ "istanbul" ]
    }
  }
}